body {
    font-family: Arial;
    margin: 0;
    background-color: whitesmoke;
}


.bg-img {
    /* The image used */
    background-image: url("s3.jpg");
    height: 780px;
    filter: blur(px);
    -webkit-filter: blur(px);
    width: 1536px;
    margin: 0px;
    height: 753px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}


.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 2px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 550px;
    height: 620px;
    padding: 30px;
    text-align: center;
}


/* Add styles to the form container */
.container {
    position: center;
    margin: 20px 00px 0px 20px;
    width: 300px;
    padding: 20px 0px 30px 60px;
    background-color: transparent;
}



/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 100;
    background: Silver;
}


/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit button */
.button {
    color: white;
    background-color: #0b495e;
    display: inline-block;
    padding: 13px 15px;
    border: none;
    width: 100%;
    opacity: 1;
    cursor: pointer;
}

.button:hover {
    background-color: green;
    opacity: 1;
}

h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}